h1
{
    background-image: url('../img/FB_IMG_15079849299091682.jpg');
    background-size: 50% 50%;
    background-repeat:no-repeat;
    background-position:left bottom;
    border:2px dotted lightgreen;
    width:25%;
    height:400px;
    margin:100px 50px 10px 10px;
    padding: 50px;
}

#second-para
{
    color:white;
    background-color: red;
    text-align:center;
    text-decoration:underline overline line-through;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 5px;
}

.first-class{
    color:green;
}

.basic-para
{
    background:lightblue;
    float:left;
    width:300px;
}